.container {
    display: flex;
    background-color: pink;
}

.titulo {
    text-align: center;
}

main {
    /*     height: 200px; */
}

main .container article {
    display: flex;
}

main .container h2 {
    display: block;
}

main .container {
    padding: 10px;
}

.container2 {
    display: flex;
}
#b1{
    margin-top: 50px;
}
#c1 {
    background-color: pink;
    width: auto;
    padding: 20px;
    margin: 10px;
    max-width: 30%;
   
}

#c2 {
    background-color: pink;
    margin: 10px;
    width: 33%;
    padding: 20px;

}

#c3 {
    background-color: pink;
    width: 33%;
    margin: 10px;
    padding: 20px;
}


#a1 {
    display: flex;
    justify-content: center;
}


#b1 {
    display: flex;
    justify-content: center;
}
#b2{
    margin-top: 50px;
}
#b3{
    margin-top: 50px;
}


#c4 {
    background-color: pink;
    width: 33%;


}

#c5 {
    background-color: pink;

    height: 300px;
  margin-left: 60px;
    width: 33%;
}

#c6 {
    background-color: pink;

    width: 33%;
    height: 300px;
    margin-left: 60px;
}

#b2 {
    display: flex;
}

#c7 {
    background-color: pink;

    height: 300px;
    
    width: 33%;
}

#c8 {
    background-color: pink;

    height: 300px;
    margin-left: 60px;
    width: 33%;
}

#c9 {
    background-color: pink;

    height: 300px;
    margin-left: 60px;
    width: 33%;
}

#c10 {
    background-color: pink;

    height: 300px;
    
    width: 33%;
}

#b3 {
    display: flex;
}

#c11 {
    background-color: pink;

    height: 300px;
    margin-left: 60px;
    width: 33%;
}

#c12 {
    background-color: pink;

    height: 300px;
    margin-left: 60px;
    width: 33%;
}