.container{
    display: flex;
    background-color: pink;
}
   
body{
    text-align: center;
}
main{
    height: 200px;
}
.container2{
    
    
    display: flex;
    justify-content: center;
    

}
#c1{
    background-color: pink;
    width: 33%;
    height: 300px;
    padding: 20px;
    margin: 10px;
   
}
#c3{
    background-color: pink;
    width: 33%;
    margin: 10px;
    height: 300px;
    padding: 20px;
}
#c2{
    background-color: pink;
    margin: 10px;
    width: 33%;
    height: 300px;
    padding: 20px;
}
#a1{
    display: flex;
}


#b1 {
    display: flex;
    justify-content: center;
}


#c4{
    background-color: pink;

    padding: 10px;
    
}
#c5{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px;
}
#c6{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px;
}

#b2{
    display: flex;
}
#c7{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px;
}
#c8{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px;  
}
#c9{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px; 
}
#c10{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px; 
}
#b3{
    display: flex;
}
#c11{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px; 
}
#c12{
    background-color: pink;
    padding: 10px;
    height: 300px;
    margin-left: 60px; 
}