*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;

}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: hotpink;
    text-align: center;
    margin-top: 2px;
}

footer p {
    color: blueviolet;
    font-weight: bold;
}
