<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./footer.css" />
    <link rel="image/x-icon" rel="icon" href="../assets/images/linktree.png" />
    <title>footer</title>
  </head>

  <body>
    <footer>
      <p>Todos os direitos reservados 2023</p>
      <a target="_blank" href="https://linktr.ee/kamitech__"
        ><img
          src="../assets/images/linktree.png"
          width="40px"
          height="40px"
          alt="40px"
      /></a>
    </footer>
  </body>
</html>
