header{
    background-color: rgb(252, 0, 134);
    margin-top: 10px;
    padding: 0;

}

#logo{
    width: 110px;
    height: 110px;
    position: relative;
}

p{
    text-align: center;
}

#ul1{
    display: flex; 
    list-style-type: none;
    font-family: fantasy;
    justify-content: space-evenly;
}
#ul :hover{
background-color: blueviolet;
}

nav a{
    color: white;
    position: relative;
}

#nav a::after{
    content:" ";
    width: 100%;
    height: 8px ;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
}


a{
    text-decoration: none;
    color: white;
    justify-content: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 228, 243);
}